body {
    background-color: #92a8d1;
  }
 .main-container{
    display: flex;
    border: 5px solid black;
    height: 355px;
    width: 100%;
 }
.course-container {
    display: flex;
    border: 5px solid black;
    height: 100%;
    width: 70%;
}

.second-container
{
   display: flex;
   border: 5px solid black;
   height: 30%;
   width: 30%;

}

